<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
    <script src='../static/JavaScript-Load-Image/js/load-image.all.min.js'></script>
    <script src="../static/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <script src="../static/tracking/build/tracking-min.js"></script>
    <script src="../static/tracking/build/data/face-min.js"></script>
    <!--script src="../static/tracking/build/data/eye-min.js"></script>
    <script src="../static/tracking/build/data/mouth-min.js"></script-->
    
</head>
<body>
<div>
    <div class="topbar"><a href="https://github.com/alexis/fastai-areyousmiling">on github</a></div>
    <div class='center'>
        <div class='title'>Are you smiling?</div>
        <p>
           Upload an image and I'll try to guess.
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <div id='image-picked' class='no-display'> </div>
            <button id='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label no-display'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
